@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/detailMovie.css" rel="stylesheet" />

<h1>Details</h1>
    
<div class="movie-item-detail">
    <img src=@Url.Content("https://m.media-amazon.com/images/M/MV5BMjEwMDA1MDUwNl5BMl5BanBnXkFtZTcwMDQzMzM1MQ@@._V1_.jpg") class="img-movie" alt="...">
    <div class="movie-body-detail">
        <h5 class="movie-title">Movie Name:  @Html.DisplayFor(model => model.Title)</h5>
        <p class="movie-text">Movie Type: @Html.DisplayFor(model => model.Genre)</p>
        <p class="movie-text"> Date Watch: @Html.DisplayNameFor(model => model.ReleaseDate)</p>
        <p class="movie-text"> Movie Coast: @Html.DisplayFor(model => model.Price)</p>  
    </div>
    <span class="movie-type">HD VietSub</span>
    <div class="btn-detail">
        <a class="btn-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn-link" asp-action="Index">Back to List</a>
    </div>
</div>

